:root {
  /* color */
  --white-color: white;
  --lightgray-color: rgb(206, 206, 206);
  --gray-color: rgb(112, 112, 124) 0%;
  --darkPink-color: rgb(158, 82, 123) 35%;
  --darkSkyblue-color: rgb(100, 154, 165) 100%;
  --darkPink-color: rgb(158, 82, 123) 35%;
  --lightPink-color: rgb(255, 85, 176) 35%;
  --lightSkyblue-color: rgb(114, 229, 250) 100%;

  /* padding & margin */
  --base-padding: 20px 20px;
  --icon-padding: 10px;
  --friendList-padding: 40px;

  /* font size */
  --icon-size: 20px;
  --friendsList-size: 300px;
  --chatImage-size: 300px;
}

body {
  background: linear-gradient(
    90deg,
    var(--gray-color),
    var(--darkPink-color),
    var(--darkSkyblue-color)
  );
}

button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

/* 삭제할 예정 */
.profile {
  width: 30px;
  height: 30px;
}

/* navigator */
.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--base-padding);
  height: 10vh;
}

.navigator .icons button {
  padding-right: var(--icon-padding);
  font-size: var(--icon-size);
  color: var(--white-color);
}

.navigator .profile {
  height: 100%;
}

/* main */
.main {
  display: flex;
  padding: 0px 40px;
  /*
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  */
}

/* firendsList */
.main .friendsList {
  display: flex;
  flex-direction: column;
  /*
  min-width: var(--friendsList-size);
  max-width: var(--friendsList-size);
  */
  flex: 1 1 30%;
}

.main .friendsList .online,
.main .friendsList .offline {
  display: flex;
  flex-direction: column;
  margin: var(--base-padding);
}

.friendsList .title {
  display: flex;
  flex-direction: row;
}

.friendsList .title span {
  padding-right: var(--icon-padding);
  padding-bottom: var(--icon-padding);
}

.friendsList .title .titleText {
  color: var(--lightgray-color);
}

.friendsList .title .count {
  color: var(--white-color);
  font-weight: 900;
}

.friendsList .lists {
  display: flex;
  flex-direction: column;
}

.friendsList .lists .list {
  display: flex;
  align-items: center;
  padding: calc(var(--icon-padding) / 2);
}

.lists .list .profile {
  padding-right: var(--icon-padding);
}

.lists .list .name {
  color: var(--white-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.main .friendsList .addFriends {
  margin: 5px 40px;
  border: solid;
  border-radius: 40px;
  border-color: var(--white-color);
  border-width: 2px;
  height: 50px;
}

.friendsList .addFriends i {
  color: var(--white-color);
  margin: 10px;
}

.friendsList .addFriends .text {
  color: var(--white-color);
}

.main .chatScreen {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
}

.chatScreen .chatScroll .otherChat > *,
.chatScreen .chatScroll .myChat > *,
.chatScreen .chatScroll .imageChat > *,
.chatScreen .chatScroll .videoChat > * {
  margin: 0px 5px;
}

.chatScreen .chatScroll .otherChat,
.chatScreen .chatScroll .imageChat,
.chatScreen .chatScroll .videoChat {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0px;
}

.chatScreen .chatScroll .myChat {
  display: flex;
  flex-direction: row-reverse;
  margin: 15px 0px;
}

.chatScroll .profile {
  display: flex;
  align-self: flex-start;
}

.chatScroll .myChat .profile {
  display: flex;
  align-self: flex-end;
}

.chatScroll .otherChat .message {
  padding: var(--base-padding);
  border-radius: 20px;
  background: linear-gradient(
    60deg,
    var(--lightPink-color),
    var(--lightSkyblue-color)
  );
}

.chatScroll .otherChat .thumbsUp {
  display: flex;
  align-items: flex-end;
  font-size: var(--icon-size);
}

.chatScroll .myChat .message {
  padding: var(--base-padding);
  border-radius: 20px;
  background: linear-gradient(
    60deg,
    var(--gray-color),
    var(--lightSkyblue-color)
  );
}

.chatScroll .imageChat .image img {
  width: 100%;
  height: 100%;
  max-width: var(--chatImage-size);
}

.chatScroll .videoChat .video {
  width: 100%;
  height: 100%;
  max-width: var(--chatImage-size);
}
